body {
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

p {
  text-align: center;
}

table {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
}

form {
  display: inline-block;
}

.form-book {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.center {
  display: block;
  margin: auto;
}

.form-box {
  text-align: center;
}

.form-box > * {
  text-align: left;
}

.container {
  width: 100%
}

.btn-table {
  width: 100%;
}

.btn-table:hover, .btn:hover{
  background-color: #ccc;
}
