body {
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
}

.center_box {
  width: 100%
}
